nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

#pagination_button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 0;
  background: rgb(107, 107, 107);
  color: white;
  font-size: 1rem;
}

#pagination_button:hover {
    background: rgb(199, 211, 127);
    cursor: pointer;
    transform: translateY(-2px);
}

#pagination_button[disabled] {
    background: rgb(185, 185, 185);
    cursor: revert;
    transform: revert;
}

#pagination_button[aria-current] {
    background: rgb(98, 119, 44);
    cursor: revert;
    transform: revert;
}
